@font-face {
    font-family: 'yekan';
    src: url('../fonts/web-fonts/YekanBakh.ttf')  format('truetype');
  }

  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

.header{
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 16px #e2e2e2;
}

.container{
    max-width: 1300px;
    padding: 10px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.header-options{
    width: 30%;
    height: 100%;
}

.header-logo{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.header-logo img{
    width: 100%;
    height: 100%;
}

.header-menu{
    width: 70%;
    height: 100%;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.site-title{
    margin-left: 10px;
}

.site-title h1{
    font-family: "yekan";
    font-size: 20px;
    font-weight: bold;
}

.header-search{
    margin-left: 10px;
}

.header-search button,.hamburger-menu button{
    background: rgb(0, 132, 255);
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}

.hamburger-menu button{
    background: rgb(79, 161, 255);
    box-shadow: 0px 0px 3px #a5a5a5;
    display: none;
}

.header-menu nav{
    width: 100%;
}

.header-menu nav>ul{
    justify-content: flex-end;
}

.header-menu nav>ul>li{
    margin-right: 10px;
}

.header-menu nav>ul>li a{
    padding: 10px;
    font-size: 14px;
    font-family: "yekan";
    font-weight: bold;
    border-radius: 5px;
}

.header-menu nav>ul>li a:hover{
    background: rgb(60, 167, 255);
    color: #fff;
}

.active{
    background: rgb(60, 167, 255) !important;
    box-shadow: 0px 0px 3px #8a8a8a;
    color: #fff !important;
}


.Search-Page{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 99999999999999999999;
}

.close-section{
    position: fixed;
    top: 20px;
    right: 15px;
    color: #fff;
    font-size: 35px;
    width: 50px;
    height: 50px;
    background: none;
    cursor: pointer;
}

.Search-Page form{
    width: 80%;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.Search-Page form input[type="text"]{
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "yekan";
    font-weight: bold;
    color: #000;
}

.Search-Page form input[type="submit"]{
    width: 20%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "yekan";
    font-weight: bold;
    color: #fff;
    background: rgb(45, 118, 255);
    cursor: pointer;
    box-shadow: 0px 0px 3px #4d4d4d;
    border-radius: 5px;
}

.HamburgerMenu-Area{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: none;
    z-index: 99999999999999999999;
}

.HamburgerMenu-Area nav{
    width: 100%;
}

.HamburgerMenu-Area nav>ul{
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;

}

.HamburgerMenu-Area nav>ul>li{
    width: 100%;
    margin-top: 20px;
}

.HamburgerMenu-Area nav>ul>li a{
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: "yekan";
    font-weight: bold;
    border-radius: 5px;
    color: #000;
    background: #fff;
    box-shadow: 0px 0px 3px #5e5e5e;
}


.topSlider{
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 6px;
 }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    background: #fff;
    padding: 10px;
}

.suggestionSingers{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 16px #e2e2e2;
    margin-bottom: 15px;
    overflow: hidden;
}

.suggestionSingers .container{
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.suggestionPost{
    width: 30%;
    padding: 5px;
    box-shadow: 0px 0px 7px #c0c0c0;
    margin-left: 12px;
    margin-bottom: 10px;
}

.suggestionPost img{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 117px #e2e2e2;
}

.sidebar{
    width: 30%;
    padding: 10px;
    overflow: hidden;
}

.mainContent{
    width: 70%;
    padding: 10px;
    overflow: hidden;
}

.tabsMenu{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 15px #e2e2e2;
} 

.tabs{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.tabsContent{
    width: 100%;
}

.t-content{
    width: 100%;
    padding: 5px;
    box-shadow: 0px 0px 13px #e2e2e2;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.c-img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.c-img img{
    width: 100%;
    height: 100%;
}

.c-title h2{
    font-family: "yekan";
    font-size: 18px;
    font-weight: bold;
}

.tabs button{
    padding: 10px;
    background: #fff;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #e2e2e2;
    border-radius: 5px;
    font-weight: bold;
    font-family: "yekan";
    font-size: 14px;
}

.t-active{
    background: rgb(0, 110, 255) !important;
    color: #fff;
}

.socials{
    width: 100%;
    margin-top: 10px;
}

.socials a{
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 13px #e2e2e2;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
    font-size: 20px;
    font-family: "yekan";
    font-weight: bold;
}

.socials a i{
    position: relative;
    top: -3px;
    right: 5px;
}

.adsPart{
    width: 100%;
    margin-top: 15px;
}

.adsPart a{
    width: 100%;
    display: block;
    height: 150px;
    box-shadow: 0px 0px 10px #9b9b9b;
    margin:10px 0px;
    
}

.adsPart a img{
    width: 100%;
    height: 100%;
}

::selection{
    background: rgb(253, 180, 70);
    color: #fff;
}

@keyframes HeaderFixed{
    0%{
        top: 30px;
        opacity: 0;
    }

    100%{
        top: 0px;
        opacity: 1;
    }
}

.Add-Header{
    width: 100%;
    height: 110px;
    display: none;
}

.headerFixed{
    max-width: 100%;
    position: fixed;
    left: 0;
    z-index: 9999999999999;
    background: #fff;
    box-shadow: 0px 2px 16px #e2e2e2;
    animation-name: HeaderFixed;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


.Posts{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 15px #e2e2e2;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    margin-bottom: 15px;
    overflow: hidden;
}


.PostImg{
    width: 40%;
    box-shadow: 0px 0px 8px #e2e2e2 ;
    padding: 10px;
}

.PostImg img{
    width: 100%;
    height: 100%;
}

.postContent{
    width: 60%;
    padding: 20px;
    
}

.singerName,.singerMusicName,.postOptions{
    width: 100%;
    margin-bottom: 10px;
}

.singerName h2{
    font-family: "yekan";
    font-size: 20px;
    font-weight: bold;
    color: #000;
}


.singerMusicName h3{
    font-family: "yekan";
    font-size: 17px;
    color: rgb(143, 143, 143);
}
.postPublisheDate,.postPublishTime{
    font-family: "yekan";
    font-size: 14px;
    color: #bebebe;
}

.line{
    width: 1px;
    height: 30px;
    background: #e2e2e2;
    margin: 0 5px;
}

.postTags{
    width: 100%;
}

.postTags a{
    padding: 10px;
    color: rgb(0, 89, 255);
    font-weight: bold;
    font-family: "yekan";
    margin-left: 5px;
    box-shadow: 0px 0px 12px #e2e2e2;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}

.Download{
    width: 100%;
    box-shadow: 0px 0px 12px #e2e2e2;
    margin-top: 10px;
}

.Download a{
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: "yekan";
    font-weight: bold;
}

.navigation{
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 15px #e2e2e2;
    margin-top: 15px;
}

.navigation nav{
    width: 100%;
}

.navigation nav>ul{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.navigation nav>ul>li{
    margin-right: 10px;
}

.navigation nav>ul>li a{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 0px 3px #e2e2e2;
    color: rgb(98, 153, 255);
    font-family: "yekan";
    font-weight: bold;
    border-radius: 5px;
}

.navigation nav>ul>li a:hover{
    background: rgb(113, 255, 47) !important;
    color: #fff !important;
}

.navigationActive{
    background: rgb(113, 255, 47) !important;
    color: #fff !important;
}

.footer{
    width: 100%;
    padding: 20px;
    background: rgb(26, 31, 53);
    box-shadow: 0px -2px 18px #313131;
}

.footer .container{
    display: flex;
    padding: 10px;
}

.footer .left{
    width: 30%;
    padding: 10px;
}

.footer .right{
    width: 70%;
    padding: 10px;
}

.News{
    padding: 10px;
}

.News form{
    width: 100%;
    display: flex;
}

.News form input[type="email"]{
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: rgb(61, 61, 61);
    font-family: "yekan";
    font-size: 14px;
    font-weight: bold;
}

.News form input[type="submit"]{
    width: 20%;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    background: rgb(39, 71, 255);
    border-radius: 5px;
    color: #fff;
    font-family: "yekan";
    font-size: 14px;
    font-weight: bold;
}


.footer .right nav{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.footer .right nav>ul{
    width: 30%;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.footer .right nav>ul>li>a{
    font-size: 25px;
    font-weight: bold;
    font-family: "yekan";
    color: #fff;
    line-height: calc(1.618*16px);
}

.footer .right nav>ul>li>ul{
    width: 100%;
}

.footer .right nav>ul>li>ul>li{
    margin-top: 10px;
}

.footer .right nav>ul>li>ul>li>a{
    font-size: 14px;
    color: #fff;
    font-family: "yekan";
    transition: .3s;
}

.footer .right nav>ul>li>ul>li>a:hover{
    color: rgb(255, 0, 0);
    margin-left: 5px;
}

.scrollTop{
    width: 40px;
    height: 40px;
    background: rgb(60, 53, 90);
    position: fixed;
    right: 20px;
    bottom: 40px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    z-index: 99999999999999;
    display: none;
    cursor: pointer;
    transition: .3s;
}

.scrollTop i{
    transform: rotate(90deg);
}

.showScroll{
    opacity: 1 !important;
}

.mobileAds{
    width: 100%;
    box-shadow: 0px 0px 17px #e2e2e2;
    margin: 20px 0;
    display: none;
}

.mobileAds .container a{
    width: 100%;
    height: 230px;
    display: block;
    margin: 20px 0;
    box-shadow: 0px 0px 10px #838383;
}

.mobileAds .container a img{
    width: 100%;
    height: 100%;
}

.c-options{
    display: flex;
    align-items: center;
}

.view,.like{
    display: flex;
    font-family: "yekan";
    align-items: center;
    font-size: 12px;
    color: #c7c7c7;
}

.like{
    margin-left: 10px;
    cursor: pointer;
}

.viewIcon,.likeIcon{
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 6px;
  }
   
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(194, 194, 194);
    border-radius: 10px;
   
}
  
  
::-webkit-scrollbar-thumb {
    background: rgb(86, 214, 0);
    border-radius: 10px;
  }

@Media(max-width:419px){
    .suggestionPost{
        width: 40%;
    }

}

@Media(max-width:447px){
    .site-title{
        display: none;
    }

    .Search-Page form input[type="text"]{
        font-size: 12px;
    }

    .Search-Page form input[type="submit"]{
        font-size: 11px;
    }

}

@Media(max-width:600px){
    .login,.signUp{
        width: 80%;
    }
}

@Media(max-width:698px){
    
    .Posts{
        flex-direction: column;
    }

    .PostImg{
        width: 100%;
    }

    .postContent{
        width: 100%;
    }
}

@media (max-width:1023px){
    
    .header .container{
        width: 100%;
        justify-content: space-between;
    }

    .header-options{
        width: 70%;
    }

    .header-menu{
        width: 30%;
    }

    .header-menu nav{
        display: none;
    }

    .header-menu .hamburger-menu{
        width: 100%;
    }

    .header-menu:after{
        content: "";
        display: block;
        clear: both;
    }

    .header-menu .hamburger-menu button{
        display: block;
        float: right;
    }

    .sidebar,.mainContent{
        width: 100%;
    }

    .sidebar{
        order: 1;
    }

    .main .container{
        flex-direction: column;
    }

    .News form{
        flex-direction: column;
    }

    .News form input[type="submit"],.News form input[type="email"]{
        width: 100%;
    }

    .News form input[type="submit"]{
        margin-left: 0;
        margin-top: 10px;
    }

    .footer .container{
        flex-direction: column;
    }

    .footer .left{
        width: 100%;
        order: 1;
    }

    
    .footer .right{
        width: 100%;
    }

    .footer .right nav{
        width: 100%;
        flex-wrap: wrap;
    }

    .footer .right nav>ul{
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .adsPart{
        display: none;
    }

    .mobileAds{
        display: block;
    }

}

